<form id="frmEtiqueta" method="post">
    <div class="mb-1">
        <label>Nombre</label>
        <input type="text" class="form-control" id="txtNombreEtiqueta" name="txtNombreEtiqueta">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody id="tbodyEtiquetas"></tbody>
    </table>
</div>

