<section class="pt-0">

  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-sm-12"><a href="index.html"><img class="img-fluid mt-5 mb-4"
            src="../static/assets/img/black-logo.png" alt="" /></a>
        <p class="w-lg-75 text-gray">Ten en cuenta que la información en este sitio web no constituye una oferta
          vinculante. Esto quiere decir que para contratar cualquier producto o servicio es necesario cumplir con
          ciertos requisitos.
          Puedes consultar toda la información en este sitio y si te quedan dudas, podemos asesorarte para encontrar la
          opción que mejor se adapte a ti. </p>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Otros sitios</h3>
        <ul class="list-unstyled">
          <li class="my-3 col-md-4"><a href="#">Fundación</a></li>
          <li class="my-3"><a href="#">Relación con inversionistas</a></li>
          <li class="my-3"><a href="#">Casa de Bolsa</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Información Corporativa</h3>
        <ul class="list-unstyled">
          <li class="my-3"><a href="#">Educación Financiera</a></li>
          <li class="my-3"><a href="#">Empleo</a><span
              class="py-1 px-2 rounded-2 bg-success fw-bold text-dark ms-2">Contratando!</span></li>
          <li class="my-3"><a href="#">Diccionario financiero</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <h3 class="fw-bold fs-1 mt-5 mb-4">Centro de Ayuda</h3>
        <ul class="list-unstyled">
          <li class="mb-3"><a href="#">Quejas y reclamos</a></li>
          <li class="mb-3"><a href="#">Consejos de seguridad</a></li>
          <li class="mb-3"><a href="#">Reporte Vulnerabilidades</a></li>
        </ul>
      </div>
    </div>
    <p class="text-gray">Todos los derechos reservados.</p>
  </div>
  <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->




<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="../static/vendors/popper/popper.min.js"></script>
<script src="../static/vendors/bootstrap/bootstrap.min.js"></script>
<script src="../static/vendors/anchorjs/anchor.min.js"></script>
<script src="../static/vendors/is/is.min.js"></script>
<script src="../static/vendors/fontawesome/all.min.js"></script>
<script src="../static/vendors/lodash/lodash.min.js"></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script src="../static/vendors/prism/prism.js"></script>
<script src="../static/vendors/swiper/swiper-bundle.min.js"></script>
<script src="../static/assets/js/theme.js"></script>
<!-- Required libs for the AngularJS app -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
<!-- Pusher client library -->
<script src="https://js.pusher.com/7.2/pusher.min.js"></script>
<!-- Luxon for date/time formatting used by app.js -->
<script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
<script src="../static/js/app.js"></script>

</body>

</html>