<div class="row align-items-center py-lg-8 py-6">
  <div class="col-lg-6 text-center text-lg-start">
    <h1 class="text-white fs-5 fs-xl-6">Tu bienestar y el de los tuyos también es Premier</h1>
    <p class="text-white py-lg-3 py-2"> <b>Premier Protect</b> Tu mundo es Premier cuando tu salud esta bajo control.</p>
    <div class="d-sm-flex align-items-center gap-3">
      <button class="btn btn-success text-black mb-3 w-75">Conoce más</button>
    </div>
  </div>
  <div class="col-lg-6 text-center text-lg-end mt-3 mt-lg-0"><img class="img-fluid"
      src="../static/assets/img/hero/hero-graphics.png" alt="" /></div>
</div>